<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
    <key>Description</key>
    <string>Creates a VIPER-style UIKit module based on the ExampleScreen setup.</string>
    <key>Summary</key>
    <string>Generates View, ViewController, Interactor, Presenter, Router, Factory, FetchData and ViewModel files.</string>
    <key>SortOrder</key>
    <integer>1</integer>
    <key>DefaultCompletionName</key>
    <string>Module</string>
    <key>Name</key>
    <string>VIPER Module</string>
    <key>Platforms</key>
    <array>
        <string>com.apple.platform.iphoneos</string>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>moduleName</string>
            <key>Name</key>
            <string>Module name</string>
            <key>Description</key>
            <string>Name used for all generated module types.</string>
            <key>Type</key>
            <string>text</string>
            <key>Required</key>
            <true/>
            <key>Default</key>
            <string>Example</string>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>___VARIABLE_moduleName___Factory.swift</string>
        <string>___VARIABLE_moduleName___FetchData.swift</string>
        <string>___VARIABLE_moduleName___Interactor.swift</string>
        <string>___VARIABLE_moduleName___Presenter.swift</string>
        <string>___VARIABLE_moduleName___Router.swift</string>
        <string>___VARIABLE_moduleName___View.swift</string>
        <string>___VARIABLE_moduleName___ViewController.swift</string>
        <string>___VARIABLE_moduleName___ViewModel.swift</string>
    </array>
</dict>
</plist>
