<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>RevenueCatAPIKey</key>
	<string>$(REVENUECAT_API_KEY)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.egor.shkarin.Vault</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vault</string>
			</array>
		</dict>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access Your Photo Library To Select Images If Needed While Using The App</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Record Your Voice To Turn Speech Into Expense Text</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Recognize Your Speech And Fill The AI Entry Field</string>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
